
* {
  font-family: Raleway, cursive, serif;
  padding: 0;
  margin: auto;
}

div.header {
  position: relative;
  width: 100%;
  top: 30px;
}

h1 {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  background-image: url("http://simplywallpaper.net/pictures/2010/04/28/Hallelujah-Mountains-3.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-origin: border-box;
  background-position: right top;
  background-repeat: no-repeat;
  font-size: 50px;
  color: Yellow;
  padding: 100px 50px 100px 50px;
  z-index: 2;
}

div.intro {
  background-image: url("http://eskipaper.com/images/space-wallpaper-hd-3.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  height: 800px;
  font-size: 50px;
  position: relative;
  top: 35px;
  width: 100%;
}

#intro {
  font-size: 24px;
  color: white;
  text-align: center;
  padding: 120px;
  margin: auto;
}

p {
  padding: 15px 20%;
}

.gameIntro {
  position: relative;
  top: 50px;
}

div.catalog {
  width: 100%;
  position: fixed;
  z-index: 1;
}

.catalog a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    display: inline;
    float: left;
    margin-left: 5%;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0 10%;
  overflow: hidden;
  background-color: #333;
  width: 100%;
  position: fixed;
  left: -10px;
  top: -2px;
}

li a:hover {
    background-color: #111;
}

canvas {
  color: red;
}

button {
  margin: auto;
  display: flex;
  justify-content: center;
}

.sketch {
  position: relative;
  margin: auto;
}

#game {
  position: relative;
  top: 80px;
  margin: auto;
  display: block;
}
